.cards-personagens
{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cardImg {

    margin-top: 10px;
}

div.opacity-provider
{
    display:none;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;/*these make the opacity provider fill the screen*/
    opacity:0.4;
    filter:alpha(opacity=50);  
    position:fixed;
     background:black;
    z-index:100;  
}

div.popup-data
{


    width:18rem;
    height:40rem;
    display:none;
    background:white;
    z-index:101;   /*must be greater than the opacity provider*/   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}